<%- include header %>
<form method='post'>
标题：<br />
<input type='text' name='title' /><br />
正文：<br />
<textarea name='' row='' col=''></textarea><br />
<button type='submit'>发表</button>
</form>
<%- include footer %>
