<%- include header %>
<form method='post'>
标题：<br />
<input type='text' name='title' /><br />
正文：<br />
<textarea name='post' row='15' col='19'></textarea><br />
<button type='submit'>发表</button>
</form>
<%- include footer %>
